<ul class="list-group"></ul>

<li class="list-group-item"> Game ID: {{game.sports_feed_id}} </li>
<li class="list-group-item list-group-item-primary"> Home Team: {{game.home_team}}</li>
<li class="list-group-item list-group-item-secondary">Away Team: {{game.away_team}} </li>

<form {{ action "submit" on="submit"}}>
    <div class="form-group">
        <label for="inputPublicKey">Public Key:</label>
        <input type="text" class="form-control" id="inputPublicKey" aria-describedby="emailHelp"
            placeholder="Enter Public Key">
    </div>
    <div class="form-group">
        <label for="inputAmount">Amount $:</label>
        <input type="password" class="form-control" id="inputAmount" placeholder="Password">
    </div>


    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
            onclick={{action (mut proposal.pick) "home"}}>
        <label class="custom-control-label" for="customRadioInline1">{{game.home_team}}</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">{{game.away_team}}</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




{{yield}}